body {
  text-align: center;
  background-color: whitesmoke;
  /* background: #466368;
  background: linear-gradient(to right bottom, #E60F8A, #009CFF); */

}

header {
  background-image: url(/images/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.admin {
  margin-top: 15px;
}