body {
  text-align: center;
  background-color: #white;
}

header {
  background-image: url(/images/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}